movie_recommendation/movies/__pycache__/__init__.cpython-311.pyc
movie_recommendation/movies/__pycache__/admin.cpython-311.pyc
movie_recommendation/movies/__pycache__/apps.cpython-311.pyc
movie_recommendation/movies/__pycache__/forms.cpython-311.pyc
movie_recommendation/movies/__pycache__/models.cpython-311.pyc
movie_recommendation/movies/__pycache__/urls.cpython-311.pyc
movie_recommendation/movies/__pycache__/views.cpython-311.pyc
movie_recommendation/movie_recommendation/__pycache__/__init__.cpython-311.pyc
movie_recommendation/movie_recommendation/__pycache__/settings.cpython-311.pyc
movie_recommendation/movie_recommendation/__pycache__/urls.cpython-311.pyc
movie_recommendation/movie_recommendation/__pycache__/wsgi.cpython-311.pyc
movie_recommendation/movies/__pycache__/__init__.cpython-312.pyc
movie_recommendation/movies/__pycache__/admin.cpython-312.pyc
movie_recommendation/movies/__pycache__/apps.cpython-312.pyc
movie_recommendation/movies/__pycache__/forms.cpython-312.pyc
movie_recommendation/movies/__pycache__/models.cpython-312.pyc
movie_recommendation/movies/__pycache__/urls.cpython-312.pyc
movie_recommendation/movies/__pycache__/views.cpython-312.pyc

movie_recommendation/movies/__pycache__/alg_recommendation.cpython-311.pyc
movie_recommendation/movies/migrations/__pycache__/__init__.cpython-311.pyc
movie_recommendation/movies/migrations/__pycache__/__init__.cpython-311.pyc
movie_recommendation/movies/migrations/__pycache__/0002_watchedmovie_rating.cpython-311.pyc
movie_recommendation/db.sqlite3
movie_recommendation/db.sqlite3
