body {
    font-family: Arial, sans-serif;
    background-color: #ccc;
    color: #fff;
    margin: 0;
    padding: 0;
}

.movie-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(41, 40, 40, 0.5);
}

.movie-header {
    text-align: center;
    margin-bottom: 24px;
}

.movie-title {
    font-size: 28px;
    font-weight: 300;
}

.movie-genres {
    font-size: 19px;
    color: #000000;
    font-family: "Times New Roman", serif;
}

.movie-details {
    margin-bottom: 20px;
}

.movie-info {
    font-size: 16px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    margin: 5px 0;
}

.movie-description {
    /* background: url("../img/background_overview.jpg") no-repeat;
    background-size: cover; */
    background-color: #b8a2c8;
    padding: 10px;
    border-radius: 5px;
}

.movie-description h2 {
    font-size: 18px;
    margin: 0;
    color: #000000;
    
}

.overview {
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.movie-footer {
    text-align: right;
}

.movie-rating {
    font-size: 20px;
    color: #ffc400;
}

.movie-keywords {
    margin-top: 20px;
    background-color: #795e8d;
    padding: 10px;
    border-radius: 5px;
}

.movie-keywords h2 {
    font-size: 18px;
    margin: 0;
    color: #000000;
}

.keywords-list {
    list-style: none;
    padding: 0;
}

.keywords-list li {
    font-size: 14px; /* Уменьшаем размер шрифта */
    font-style: italic; /* Устанавливаем курсивное начертание */
    margin: 5px 0;
}

.keywords-list li::before {
    content: "#"; /* Добавляем символ "#" перед каждым ключевым словом */
    margin-right: 5px; /* Добавляем отступ между символом "#" и ключевым словом */
    color: #e50914; /* Устанавливаем цвет символа "#" */
}