body{
    background: url("../img/maks.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}




head{
    display: flex;
    align-items: flex-end;
    width: 100%;
}


.navbar {
    background-color: #aa2121; /* Цвет фона для навигационной панели */
    color: rgb(99, 57, 57); /* Цвет текста */
}

/* Стиль для кнопок */
.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: #fd0202a4;
    background-color: #346599;
    border: none;
    border-radius: 5px;
}