body {
    font-family: 'Open Sans', sans-serif;
    background: rgba(86, 108, 164, 0.9);
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}

h1 {
    background-color: #1e5ac2;
    color: white;
    padding: 20px 0;
}

p {
    font-size: 18px;
}

button {
    background: #1e5ac2;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background: #1161ee;
}

a {
    text-decoration: none;
    color: #1e5ac2;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    margin: 5px;
}

ul li:empty::before {
    content: "No movies to display.";
    font-style: italic;
}
