{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
    <link rel="stylesheet" href="{% static 'css/movie_list.css'%}" type="text/css">
</head>
<body>
    
    <div class="navbar">
        {% if user.is_authenticated %}
        <a href="{% url 'user_profile' %}" class="btn">MyAccount</a>
    {% else %}
        <a href="{% url 'registration_page' %}" class="sign_up" >Sign Up</a>
        <a href="{% url 'auth_page' %}" class="log_in" >Log in</a>
    {% endif %}
    </div>

     <form method="GET" action="{% url 'search_movies' %}">
        <input type="text" name="q">
        <button type="submit" >Search</button>
    </form> 

    <h1>MOVIES</h1>
    <ol>
        {% for movie in movies %}
            <li><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></li>
        {% endfor %}
    </ol>
</body>
</html>