<!DOCTYPE html>
<html>
<head>
    <title>Детали фильма</title>
</head>
<body>
    <h1>Детали фильма</h1>
    <p><strong>Название:</strong> {{ movie.title }}</p>
    <p><strong>Описание:</strong> {{ movie.overview }}</p>
    <p><strong>Рейтинг:</strong> {{ movie.rating }}</p>
    <!-- Другая информация о фильме -->

{% if user.is_authenticated %}
        <form method="post" action="{% url 'add_to_history' movie.id %}">
            {% csrf_token %}
            <button type="submit">Добавить в историю</button>
        </form>
    {% else %}
        <p>Чтобы добавить фильм в историю просмотра, войдите в систему.</p>
    {% endif %}
</body>
</html>