<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
    <link rel="stylesheet" href="css/movie_list.css">
</head>
<body>
    <div class="navbar">
        {% if user.is_authenticated %}
        <a href="{% url 'user_profile' %}" class="btn btn-primary">Личная страница</a>
    {% else %}
        <a href="{% url 'registration_page' %}" class="btn btn-primary" color="green">Sign Up</a>
    {% endif %}
    </div>
    <h1>Movies</h1>
    <ul>
        {% for movie in movies %}
            <li><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>