{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/movie_detail.css'%}" type="text/css">
    <title>Movie Description</title>
</head>
<body>
    <div class="movie-container">
        <div class="movie-header">
            <h1 class="movie-title"> {{ movie.title }}</h1>
            <p class="movie-genres"> {{ movie.genres }} </p>
        </div>
    <div class="movie-details">
        <p class="movie-info"> Original language: {{ movie.original_language }} </p>
        <p class="movie-info"> Budget: {{ movie.budget }} $</p>
        <p class="movie-info"> Runtime: {{ movie.runtime }} min</p>
        <p class="movie-info"> Production companies: {{ movie.production_companies }} </p>
        <p class="movie-info"> Production countries: {{ movie.production_countries }} </p>
    </div>
    <div class="movie-description">
        <h2>Overview</h2>
        <p class="overview"> {{ movie.overview }} </p>
    </div>
    <div class="movie-footer">
        <p class="movie-rating"> Rating: {{ movie.rating }} </p>
    </div>
    <div class="movie-keywords">
        <h2>Keywords</h2>
        <p class="movie-info">
            {{ movie.keywords }}
        </p>
    </div>
    </div>


{% if user.is_authenticated %}
        <form method="post" action="{% url 'add_to_history' movie.id %}">
            {% csrf_token %}
            <input type="number" name="rating" min="1" max="10" placeholder="Введите рейтинг от 1 до 10" required>
            <button type="submit">Добавить в историю</button>
        </form>
    {% else %}
        <p>Чтобы добавить фильм в историю просмотра, войдите в систему.</p>
    {% endif %}
</body>
</html>