{% load static %}
{% if not user.is_authenticated %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'css/sign_login.css'%}" type="text/css">
    <meta charset="UTF-8">
</head>
<body>

<div class="login-wrap">
    <div class="login-html">
        {% comment %} <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label> {% endcomment %}
        <input id="tab-1" type="radio" name="tab" class="sign-up" checked><label for="tab-1" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-up-htm">
                <form method="post">
                {% csrf_token %}
                {% for f in form %}
                <div class="group">
                    <label for="{{ f.id_for_label }}" class="label">{{f.label}}</label>
                    {{ f }}
                </div>
                    {% endfor %}
                    <br><br>
                    <div class="group">
                        <button type="submit">Register</button>
                    </div> 
                </form>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="{% url 'auth_page' %}">Already Member?</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
{% else %}
    <script>window.location.href = "/user_profile";</script>
{% endif %}