<!DOCTYPE html>
<html>
<head>
    <title>Личная страница пользователя</title>
</head>
<body>
    <h1>Личная страница пользователя</h1>
    <p>Имя пользователя: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Выход</button>
    </form>
 <a href="{% url 'movie_list' %}">Вернуться на главную</a>

<a href="{% url 'user_profile' %}" class="btn btn-primary">Просмотр истории</a>
    <form method="post" action="{% url 'run_server_script' %}">
    {% csrf_token %}
    <button type="submit">Запустить скрипт на сервере</button>
</form>

<h2>История просмотров</h2>
<ul>
    {% for watched_movie in watched_movies %}
        <li>{{ watched_movie.movie.title }}</li>
    {% empty %}
        <li>Вы еще не просматривали ни одного фильма.</li>
    {% endfor %}
</ul>
</body>
</html>