{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Your account</title>
    <link rel="stylesheet" href="{% static 'css/myAccount.css'%}" type="text/css">
</head>
<body>
    <h1>Hello, {{user.username}}</h1>
    <p>Email: {{ user.email }}</p>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="exit-btn">Exit</button>
    </form>
    
    <a href="{% url 'movie_list' %}" class="main-page-link">Main page</a>

    <form method="post" action="{% url 'run_server_script' %}">
    {% csrf_token %}
    <button type="submit">Recommendate movies</button>
    </form>

<h2>Viewed story</h2>
<ul class="viewed-movies-list">
    {% for watched_movie in watched_movies %}
        <li><a href="{% url 'movie_detail' watched_movie.movie.id %}">{{ watched_movie.movie.title }}</a></li>
    {% empty %}
        <li>No one movie has been viewed.</li>
    {% endfor %}
</ul>
<h2>Recommendation</h2>
<ul>
    {% for movie in recommended_movies %}
        <li><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></li>
    {% empty %}
    <li>No one movie has been viewed.</li>
    {% endfor %}
</ul>
</body>
</html>